{% extends 'user/settings/_settings_base.html' %}

{% from 'macros/forms.html' import render_field, render_button, render_upload_label %}

{% block settings_content %}

<div class="mx-auto w-full max-w-xl">

    <div class="my-6 rounded border border-slate-700 p-4">
        <h1 class="text-3xl font-bold mb-8">Update Avatar</h1>
        <div class="my-4 flex items-center justify-evenly">
            <img src="{{ url_for('static', filename='uploads/avatar/' + user.avatar) }}" alt="{{ user.username }}" class="h-32 w-32 rounded-full bg-white border-4 border-slate-600">
            <form method="post" enctype="multipart/form-data" action="{{ url_for('user.update_avatar', username=user.username) }}">
                {{ form.hidden_tag() }}
                {{ render_upload_label(form.avatar) }}
                {{ render_button(form.submit) }}
            </form>
        </div>
    </div>

     <div class="my-6 rounded border border-slate-700 p-4">
         <h1 class="text-3xl font-bold mb-8">Reset Avatar</h1>
         <form method="POST" action="{{ url_for('user.reset_avatar', username=user.username) }}">
            {{ form.hidden_tag() }}
            {{ render_button(form.submit, value="Reset Avatar") }}
        </form>
     </div>
</div>

{% endblock %}