<footer class="lg:hidden fixed backdrop-blur bottom-0 left-0 right-0 h-16 border-t border-slate-700 flex justify-around items-center z-30">
    <button data-target="main" class="p-2 w-full h-full flex justify-center items-center mobile-nav-button">
        {{ icons.icon('home') }}
    </button>

    <button data-target="left-sidebar" class="p-2 w-full h-full flex justify-center items-center mobile-nav-button">
        {{ icons.icon('sparkles') }}
    </button>

    <button data-target="right-sidebar" class="p-2 w-full h-full flex justify-center items-center mobile-nav-button">
        {{ icons.icon('fire') }}
    </button>
</footer>